<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="./css/style.css">
<link rel="stylesheet" href="./css/utils.css">
<link rel="stylesheet" href="./css/login.css">
<script src="https://kit.fontawesome.com/0e5b1e32b0.js" crossorigin="anonymous"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>

	<link rel="stylesheet" href="./css/style_new.css">
	<script type="text/javascript">
		$(document).ready(function(){

			$( "#form" ).submit(function(event) {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/login',
					data: $('#form').serialize(),
					dataType: "json",
					success: function(response){
						//alert("a");
						//console.log(response.Success);
						$('#form')[0].reset();

						document.getElementById("check").innerHTML=response.Success;
         					//ADD THIS CODE
         					setTimeout(function(){
         						document.getElementById("check").innerHTML="";
         					},3000);
         					if (response.Success=="Success!") {
         						document.getElementById("aa").click();
         					};
         				},
         				error: function() {
         				}
         			})
			});

		});
	</script>
</head>
<body>
	<header class="topbar">
        <div class="logo-container">
            <img src="./css/Spotify_LogoW.png" alt="Spotify Logo" class="logo">
        </div>
    </header>
    <div class="login-container">
        <div class="form-container">
            <h1>Log in to Spotify</h1>
            <hr>
            <br>
            <form id="form" method="post">
                <label for="Email" class="creds">Email</label>
                <input type="text" name="email" placeholder="E-mail" required="" ><br/>
                <label for="password"class="creds">Password</label>
                <input type="password" id="password" name="password" required>
				<!-- <input type="submit" value="Login" class="signup"> -->
                <button type="submit" class="green" value="Login"><a class="login" href="/profile">Login</a></button>
            </form>
            <div class="social-login">
                <p>Or log in with</p>
                <div class="social-buttons">
                    <button class="google" class="icons"><i class="fa-brands fa-google"></i> Continue with Google</button>
                    <button class="facebook" class="icons" ><i class="fa-brands fa-facebook"></i> Continue with Facebook</button>
                    <button class="apple" class="icons"><i class="fa-brands fa-apple"></i> Continue with Apple</button>
                </div>
            </div>
            <div class="signup-link">
                <p>Don't have an account? <a href="/">Sign up for free</a></p>
            </div>
        </div>
    </div>


	<span id="check" ></span>
	<!-- <span><a href="/profile">Profile</a></span> -->
	
	
	
	<!-- <div class="mssg bg-danger">
		<div id="LangTable"><a href="/profile" id="aa"></a>
	</div>
		</div>
		<div><span>Do you forgot password?</span><a href="/forgetpass">Click here</a>
		<div><span>Create a new Account?</span><a href="/">Register here</a>

		</div> -->
		
	
</body>
</html>